@use "config";
@use "layout";
@use "header";
@use "toolbar";
@use "list";
@use "details";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

// Local variables
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);

// Theme Style
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  border: none;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.hide {
  display: none;
}

.btn {
  background: var(--elements-color);
  color: var(--text-color);
  border: none;
  // margin-left: 2rem;
  // margin-bottom: 2rem;
  border-radius: 2.5px;
  padding: 0.5rem 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.25s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.4);
  }
}
